In [3]:
import functions as f
import pandas as pd

In [4]:
folder_name = "completion_time_jh"
completion_all_csv_data = f.load_csv_files_in_folder(folder_name)

In [36]:
import re
_columns_name = completion_all_csv_data[0][1][0]

data_list = []
    
for csv_file, csv_data in completion_all_csv_data:
    only_data = csv_data[1:]
    
    # Extract numbers after "Truck_"
    truck_numbers = re.findall(r'Truck_(\d+)', csv_file)
    
    for row in only_data:
        row[4:] = [float(value) for value in row[4:]]
        new_row = truck_numbers + row
        data_list.append(new_row)

columns_name = ["Prev Truck Number", "Now Truck Number"] + _columns_name

In [37]:
completion_time_jh_df = pd.DataFrame(data_list, columns=columns_name)
completion_time_jh_df

,Prev Truck Number,Now Truck Number,Truck_id,Route_id,Origin,Destination,Total Time,PickupSta AT,DropSta AT
0,30,30,Truck-8,Route-8,(425.0 0.0 205.5),(375.0 0.0 150.0),346.776,7.728,34.068
1,30,30,Truck-1,Route-1,(675.0 0.0 205.5),(625.0 0.0 0.0),354.072,7.732,41.364
2,30,30,Truck-29,Route-29,(675.0 0.0 5.5),(625.0 0.0 200.0),362.544,11.852,45.696
3,30,30,Truck-6,Route-6,(425.0 0.0 105.5),(125.0 0.0 200.0),363.488,10.560,46.944
4,30,30,Truck-19,Route-19,(175.0 0.0 205.5),(125.0 0.0 100.0),366.784,10.644,46.164
...,...,...,...,...,...,...,...,...,...
1025,30,40,Truck-110,Route-110,(425.0 0.0 105.5),(375.0 0.0 200.0),450.632,80.784,64.864
1026,30,40,Truck-130,Route-130,(425.0 0.0 5.5),(125.0 0.0 150.0),454.144,94.336,54.824
1027,30,40,Truck-118,Route-118,(675.0 0.0 5.5),(625.0 0.0 0.0),452.232,100.000,47.244
1028,30,40,Truck-133,Route-133,(675.0 0.0 5.5),(125.0 0.0 0.0),452.920,106.156,41.784
1029,30,40,Truck-108,Route-108,(425.0 0.0 5.5),(625.0 0.0 100.0),468.712,56.880,106.840

In [39]:
prev_30_now_30_jh_df_ = completion_time_jh_df[completion_time_jh_df["Now Truck Number"] == "30"]
prev_30_now_30_jh_df_

,Prev Truck Number,Now Truck Number,Truck_id,Route_id,Origin,Destination,Total Time,PickupSta AT,DropSta AT
0,30,30,Truck-8,Route-8,(425.0 0.0 205.5),(375.0 0.0 150.0),346.776,7.728,34.068
1,30,30,Truck-1,Route-1,(675.0 0.0 205.5),(625.0 0.0 0.0),354.072,7.732,41.364
2,30,30,Truck-29,Route-29,(675.0 0.0 5.5),(625.0 0.0 200.0),362.544,11.852,45.696
3,30,30,Truck-6,Route-6,(425.0 0.0 105.5),(125.0 0.0 200.0),363.488,10.560,46.944
4,30,30,Truck-19,Route-19,(175.0 0.0 205.5),(125.0 0.0 100.0),366.784,10.644,46.164
...,...,...,...,...,...,...,...,...,...
535,30,30,Truck-115,Route-115,(425.0 0.0 205.5),(375.0 0.0 150.0),410.204,57.884,47.336
536,30,30,Truck-124,Route-124,(675.0 0.0 155.5),(375.0 0.0 0.0),465.520,114.652,45.880
537,30,30,Truck-126,Route-126,(675.0 0.0 55.5),(625.0 0.0 0.0),478.576,115.352,58.244
538,30,30,Truck-128,Route-128,(675.0 0.0 55.5),(375.0 0.0 100.0),485.244,129.232,51.024
539,30,30,Truck-121,Route-121,(675.0 0.0 105.5),(625.0 0.0 100.0),494.400,120.052,68.368

In [40]:
prev_30_now_40_jh_df_ = completion_time_jh_df[completion_time_jh_df["Now Truck Number"] == "40"]
prev_30_now_40_jh_df_

,Prev Truck Number,Now Truck Number,Truck_id,Route_id,Origin,Destination,Total Time,PickupSta AT,DropSta AT
540,30,40,Truck-8,Route-8,(425.0 0.0 205.5),(375.0 0.0 150.0),343.940,7.580,31.364
541,30,40,Truck-1,Route-1,(675.0 0.0 205.5),(625.0 0.0 0.0),356.184,7.584,43.600
542,30,40,Truck-29,Route-29,(675.0 0.0 5.5),(625.0 0.0 200.0),364.960,11.968,47.004
543,30,40,Truck-9,Route-9,(675.0 0.0 5.5),(375.0 0.0 200.0),369.580,7.580,57.004
544,30,40,Truck-12,Route-12,(175.0 0.0 55.5),(375.0 0.0 200.0),372.876,7.576,60.296
...,...,...,...,...,...,...,...,...,...
1025,30,40,Truck-110,Route-110,(425.0 0.0 105.5),(375.0 0.0 200.0),450.632,80.784,64.864
1026,30,40,Truck-130,Route-130,(425.0 0.0 5.5),(125.0 0.0 150.0),454.144,94.336,54.824
1027,30,40,Truck-118,Route-118,(675.0 0.0 5.5),(625.0 0.0 0.0),452.232,100.000,47.244
1028,30,40,Truck-133,Route-133,(675.0 0.0 5.5),(125.0 0.0 0.0),452.920,106.156,41.784
1029,30,40,Truck-108,Route-108,(425.0 0.0 5.5),(625.0 0.0 100.0),468.712,56.880,106.840