In [47]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import function as f
import re
import os

In [63]:
def create_congestion_df(_folderPath):
    csv_data = f.load_csv_files_in_folder(_folderPath)
    folder_name = os.path.basename(os.path.normpath(_folderPath))
    
    prev_truck_num = re.findall(r'prev_(\d+)', folder_name)[0]
    now_truck_num = re.findall(r'now_(\d+)', folder_name)[0]

    columns = ["Prev Truck Number", "Now Truck Number", "repeat_num", "alpha_1", "alpha_2", "alpha_3"] + csv_data[0][1][0]

    wt_data_list = []
    wot_data_list = []


    for file_name, file_data in csv_data:
        
        alphas_match = re.search(r"LP_(\d+)_(\d+)_(\d+)", file_name)
        
        if alphas_match:
            alpha1 = int(alphas_match.group(1))
            alpha2 = int(alphas_match.group(2))
            alpha3 = int(alphas_match.group(3))
            
            alphas = [alpha1, alpha2, alpha3]
            
        # remove .csv
        repeat_time = file_name.split('_')[-1].split('.')[0]
        
        # if repeat_time doesn't contain "rep"
        if "rep" in repeat_time:
            if repeat_time[0] == '0':
                repeat_time = '1'
        
        else:
            if repeat_time == '100':
                repeat_time = '1'
            
        for row in file_data[1:]:
            # print(row)
            row[4:] = [float(value) for value in row[4:]]
            new_row = [prev_truck_num, now_truck_num, repeat_time] + alphas + row
            
            if 'NoCongestions' in file_name:
                wot_data_list.append(new_row)
            else:
                wt_data_list.append(new_row)

    wt_df = pd.DataFrame(wt_data_list, columns=columns)
    wot_df = pd.DataFrame(wot_data_list, columns=columns)
    
    return wt_df, wot_df

### prev_25_now_25

In [64]:
folder_path = '../Simulation/Assets/Results/Congestion/prev_25_now_25/'



create_congestion_df(folder_path)

(    Prev Truck Number Now Truck Number repeat_num  alpha_1  alpha_2  alpha_3  \
 0                [25]             [25]          1        0        0      100
 1                [25]             [25]          1        0        0      100
 2                [25]             [25]          1        0        0      100
 3                [25]             [25]          1        0        0      100
 4                [25]             [25]          1        0        0      100
 ..                ...              ...        ...      ...      ...      ...
 445              [25]             [25]         10       80       10       10
 446              [25]             [25]         10       80       10       10
 447              [25]             [25]         10       80       10       10
 448              [25]             [25]         10       80       10       10
 449              [25]             [25]         10       80       10       10

       Truck_id   Route_id             Origin        Destination  Total Time  \
 0     Truck-10   Route-10  (425.0 0.0 205.5)  (125.0 0.0 150.0)     338.664
 1     Truck-11   Route-11  (675.0 0.0 105.5)  (375.0 0.0 200.0)     343.760
 2      Truck-0    Route-0  (675.0 0.0 205.5)  (625.0 0.0 100.0)     350.520
 3     Truck-24   Route-24   (175.0 0.0 55.5)  (125.0 0.0 200.0)     351.920
 4      Truck-8    Route-8  (175.0 0.0 155.5)  (375.0 0.0 200.0)     363.320
 ..         ...        ...                ...                ...         ...
 445  Truck-110  Route-110   (675.0 0.0 55.5)  (125.0 0.0 150.0)     404.072
 446  Truck-123  Route-123   (675.0 0.0 55.5)   (375.0 0.0 50.0)     417.016
 447  Truck-103  Route-103  (175.0 0.0 105.5)    (625.0 0.0 0.0)     443.952
 448  Truck-119  Route-119  (425.0 0.0 105.5)  (625.0 0.0 100.0)     446.360
 449  Truck-102  Route-102   (425.0 0.0 55.5)  (625.0 0.0 100.0)     456.232

      PickupSta AT  DropSta AT
 0           6.728      26.816
 1           6.728      31.976
 2           6.752      38.720
 3           9.104      37.784
 4           6.736      51.504
 ..            ...         ...
 445        56.864      42.120
 446        67.392      38.576
 447        56.768      70.016
 448        54.784      80.536
 449        80.328      70.848

 [450 rows x 13 columns],
     Prev Truck Number Now Truck Number repeat_num  alpha_1  alpha_2  alpha_3  \
 0                [25]             [25]          1        0        0      100
 1                [25]             [25]          1        0        0      100
 2                [25]             [25]          1        0        0      100
 3                [25]             [25]          1        0        0      100
 4                [25]             [25]          1        0        0      100
 ..                ...              ...        ...      ...      ...      ...
 220              [25]             [25]         10       80       10       10
 221              [25]             [25]         10       80       10       10
 222              [25]             [25]         10       80       10       10
 223              [25]             [25]         10       80       10       10
 224              [25]             [25]         10       80       10       10

       Truck_id   Route_id             Origin        Destination  Total Time  \
 0    Truck-100  Route-100   (675.0 0.0 -5.5)    (375.0 0.0 0.0)     382.160
 1    Truck-101  Route-101  (175.0 0.0 155.5)  (625.0 0.0 200.0)     374.664
 2    Truck-102  Route-102   (425.0 0.0 55.5)  (125.0 0.0 200.0)     347.056
 3    Truck-103  Route-103  (175.0 0.0 105.5)  (375.0 0.0 200.0)     359.960
 4    Truck-104  Route-104  (175.0 0.0 205.5)    (625.0 0.0 0.0)     369.136
 ..         ...        ...                ...                ...         ...
 220  Truck-120  Route-120  (675.0 0.0 155.5)   (125.0 0.0 50.0)     370.472
 221  Truck-121  Route-121   (425.0 0.0 55.5)  (125.0 0.0 200.0)     347.328
 222  Truck-122  Route-122  (425.0 0.0 155.5)  (375.0 0.0 200.0)     339.536
 223  Truck-123  Route-123   (675.0 0.0 55.5)   (375.0 0.0 50.0)     382.008
 224  Truck-124  Route-124  (175.0 0.0 205.5)   (625.0 0.0 50.0)     383.376

      PickupSta AT  DropSta AT
 0          37.120      37.672
 1           6.968      62.640
 2           6.920      35.096
 3           6.912      48.000
 4           7.000      57.072
 ..            ...         ...
 220        30.160      35.216
 221         6.912      35.384
 222         7.024      27.456
 223        37.704      39.248
 224         6.984      71.352

 [225 rows x 13 columns])

In [39]:
folder_name = '../Simulation/Assets/Results/Congestion/prev_25_now_25/'
prev_25_now_25_csv_data = f.load_csv_files_in_folder(folder_name)
prev_25_now_25_wt_df, prev_25_now_25_wot_df = create_congestion_df(prev_25_now_25_csv_data)

In [40]:
prev_25_now_25_wt_df.head()

,Truck_num,repeat_time,Truck_id,Route_id,Origin,Destination,Total Time,PickupSta AT,DropSta AT
0,25,1,Truck-10,Route-10,(425.0 0.0 205.5),(125.0 0.0 150.0),338.664,6.728,26.816
1,25,1,Truck-11,Route-11,(675.0 0.0 105.5),(375.0 0.0 200.0),343.760,6.728,31.976
2,25,1,Truck-0,Route-0,(675.0 0.0 205.5),(625.0 0.0 100.0),350.520,6.752,38.720
3,25,1,Truck-24,Route-24,(175.0 0.0 55.5),(125.0 0.0 200.0),351.920,9.104,37.784
4,25,1,Truck-8,Route-8,(175.0 0.0 155.5),(375.0 0.0 200.0),363.320,6.736,51.504

In [41]:
prev_25_now_25_wot_df.head()

,Truck_num,repeat_time,Truck_id,Route_id,Origin,Destination,Total Time,PickupSta AT,DropSta AT
0,25,1,Truck-100,Route-100,(675.0 0.0 -5.5),(375.0 0.0 0.0),382.160,37.120,37.672
1,25,1,Truck-101,Route-101,(175.0 0.0 155.5),(625.0 0.0 200.0),374.664,6.968,62.640
2,25,1,Truck-102,Route-102,(425.0 0.0 55.5),(125.0 0.0 200.0),347.056,6.920,35.096
3,25,1,Truck-103,Route-103,(175.0 0.0 105.5),(375.0 0.0 200.0),359.960,6.912,48.000
4,25,1,Truck-104,Route-104,(175.0 0.0 205.5),(625.0 0.0 0.0),369.136,7.000,57.072

In [25]:
folder_name = '../Simulation/Assets/Results/Congestion/prev_30_now_35/'
congestion_all_csv_data = f.load_csv_files_in_folder(folder_name)
create_congestion_df(congestion_all_csv_data)

,Truck_num,repeat_time,Truck_id,Route_id,Origin,Destination,Total Time,PickupSta AT,DropSta AT
0,35,1,Truck-100,Route-100,(175.0 0.0 5.5),(125.0 0.0 200.0),354.920,6.840,43.008
1,35,1,Truck-101,Route-101,(175.0 0.0 55.5),(375.0 0.0 200.0),363.680,6.968,51.656
2,35,1,Truck-102,Route-102,(175.0 0.0 155.5),(125.0 0.0 200.0),338.744,6.968,26.720
3,35,1,Truck-103,Route-103,(675.0 0.0 55.5),(375.0 0.0 200.0),347.840,6.968,35.760
4,35,1,Truck-104,Route-104,(675.0 0.0 105.5),(125.0 0.0 150.0),386.560,35.800,45.744
...,...,...,...,...,...,...,...,...,...
1220,35,1,Truck-102,Route-102,(675.0 0.0 5.5),(125.0 0.0 200.0),428.904,7.136,116.712
1221,35,1,Truck-132,Route-132,(425.0 0.0 105.5),(375.0 0.0 150.0),447.704,115.488,27.104
1222,35,1,Truck-115,Route-115,(675.0 0.0 55.5),(125.0 0.0 50.0),451.600,58.368,85.208
1223,35,1,Truck-103,Route-103,(675.0 0.0 55.5),(625.0 0.0 100.0),451.832,54.312,80.496
1224,35,1,Truck-106,Route-106,(175.0 0.0 55.5),(625.0 0.0 50.0),466.096,51.128,103.920